<div class="container">
  <img
    src="{{
      '../../../../../../assets/' + payment.receiver.toLowerCase() + '.png'
    }}"
  />
  <div class="centralText">
    <p class="merchantDesc">
      <span class="merchant">{{ payment.receiver }}</span> |
      <span class="desc">{{ payment.description }}</span>
    </p>
    <p class="dateAmount">
      {{ payment.date | date: "yyyy-MM-dd" + " • " + payment.amount }} ETH
    </p>
  </div>
  <button>
    <fa-icon id="rateIcon" [icon]="faStar"></fa-icon>
    <span id="rateText"> Valuta</span>
  </button>
</div>
