<nav>
  <button (click)="login()">
    <img src="./assets/metamask.svg" />{{
      !this.authService.isLoggedIn() ? "Login" : "Account"
    }}
  </button>
  <button
    [disabled]="!this.authService.isLoggedIn()"
    routerLink="/transactions"
  >
    Pagamenti da recensire
  </button>
  <button
    routerLink="/reviews/sender"
    [disabled]="!this.authService.isLoggedIn()"
  >
    Recensioni rilasciate
  </button>
  <button
    routerLink="/reviews/receiver"
    [disabled]="!this.authService.isLoggedIn()"
  >
    Recensioni ricevute
  </button>
  <button routerLink="/search-reviews">Ricerca recensioni</button>
</nav>
