h2 {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

button {
  padding-left: 2rem;
  padding-right: 2rem;
}

.transaction,
.review {
  display: flex;
  justify-content: space-between;

  border: 1px solid hsla(0, 0%, 60%, 0.2);
  border-radius: 10px;
  width: 92.5vw;
  background-color: white;
}

.transaction {
  align-items: center;
  column-gap: 0.85rem;
  padding: 0.85rem;

  .merchantLogo {
    margin: unset;
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
    border: 1px solid hsla(0, 0%, 60%, 0.15);
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    background-color: white;
  }

  .centralText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    justify-content: space-evenly;
    width: 50%;
    row-gap: 0.45rem;
  }

  .merchantDesc {
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .merchant {
    font-weight: 600;
  }

  .desc {
    font-weight: 300;
  }

  .dateAmount {
    color: hsl(0, 0%, 30%);
    font-weight: 300;
    font-size: 0.9rem;
  }
}

.review {
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;

  .reviewTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5rem;

    h4 {
      font-size: 1.15rem;
    }

    input {
      width: 100%;
      padding: 0.75rem 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid hsla(0, 0%, 30%, 0.6);
    }
  }

  #stars {
    display: flex;
    align-self: center;
  }

  .starIcon {
    cursor: pointer;
    padding: 0 .5rem;
  }

  .reviewText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5rem;

    h4 {
      font-size: 1.15rem;
    }

    textarea {
      width: 100%;
      padding: 0.75rem 0.5rem;
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid hsla(0, 0%, 30%, 0.6);
      resize: none;
      font-family: inherit;
      height: 15rem;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .transaction,
  .review {
    width: 70vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .transaction,
  .review {
    width: 50vw;
  }

  .transaction {
    .merchantLogo {
      height: 3.5rem;
      width: 3.5rem;
    }

    .merchantDesc {
      font-size: 1.2rem;
    }

    .dateAmount {
      font-size: 1rem;
    }
  }
}
