<h2>Lascia una recensione</h2>

<div class="transaction">
  <div class="centralText">
    <p class="longAddr" id="transId">{{ transaction.id }}</p>
    <p class="longAddr">{{ transaction.receiver }}</p>
    <p class="dateAmount">
      {{ transaction.date | date : "yyy-MM-dd" + " • " + transaction.amount }}
      ETH
    </p>
  </div>
</div>

<form class="review" #reviewForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="reviewTitle">
    <h4>
      <label for="title"
        >Titolo
        <span
          [ngClass]="
            title.valid || (title.pristine && title.untouched)
              ? 'required'
              : 'form-error'
          "
          >*</span
        ></label
      >
    </h4>
    <input
      type="text"
      id="title"
      placeholder="Inserisci il titolo della recensione"
      maxlength="50"
      required
      [(ngModel)]="reviewTitle"
      name="title"
      #title="ngModel"
      (ngModelChange)="textChange('reviewTitle', reviewTitle)"
    />
    <p class="charCount">{{ titleCharCount }} / 50</p>
  </div>

  <div id="stars">
    <input
      type="radio"
      id="{{ 'star' + i }}"
      value="{{ i + 1 }}"
      *ngFor="let star of [].constructor(5); let i = index"
      [(ngModel)]="rating"
      name="rating"
      required
    />
    <label
      class="full"
      for="{{ 'star' + i }}"
      *ngFor="let star of [].constructor(5); let i = index"
    >
      <fa-icon
        class="starIcon"
        id="{{ i }}"
        [icon]="faStar[i]"
        [size]="'2xl'"
        (click)="fillStars(i)"
      ></fa-icon>
    </label>
    <span>*</span>
  </div>

  <div class="reviewText">
    <h4>
      <label for="text"
        >Testo
        <span
          [ngClass]="
            text.valid || (text.pristine && text.untouched)
              ? 'required'
              : 'form-error'
          "
          >*</span
        ></label
      >
    </h4>
    <textarea
      id="text"
      placeholder="Inserisci il testo della recensione"
      maxlength="500"
      required
      [(ngModel)]="reviewText"
      (ngModelChange)="textChange('reviewText', reviewText)"
      name="text"
      #text="ngModel"
    ></textarea>
    <p class="charCount">{{ textCharCount }} / 500</p>
  </div>
  <p
    [ngClass]="
      (text.valid || (text.pristine && text.untouched)) &&
      (title.valid || (title.pristine && title.untouched))
        ? 'required'
        : 'form-error'
    "
  >
    * campi obbligatori
  </p>

  <button
    type="submit"
    class="submitReview"
    [disabled]="!reviewForm.form.valid"
  >
    Invia
  </button>
</form>
