<h2>Lascia una recensione</h2>

<div class="transaction">
  <img class="merchantLogo" src="../../../../../assets/amazon.png" />
  <div class="centralText">
    <h3 class="merchantDesc">
      <span class="merchant">Amazon</span> |
      <span class="desc">Ordewr #1234565</span>
    </h3>
    <p class="dateAmount">2023-04-21 • 4 ETH</p>
  </div>
</div>

<div class="review">
  <div class="reviewTitle">
    <h4>Titolo</h4>
    <input
      type="text"
      placeholder="Inserisci il titolo della recensione"
      maxlength="50"
    />
  </div>

  <div id="stars">
    <fa-icon
      class="starIcon"
      *ngFor="let star of [].constructor(5); let i = index"
      id="{{ i+1 }}"
      [icon]="faStar"
      [size]="'2xl'"
      (mouseenter)="fillStars(i+1)"
    ></fa-icon>
  </div>

  <div class="reviewText">
    <h4>Testo</h4>
    <textarea
      placeholder="Inserisci il testo della recensione"
      maxlength="500"
    ></textarea>
  </div>
</div>

<button class="submitReview">Invia</button>
