<div class="container">
  <div class="transaction">
    <p class="longAddr transId">{{ review.transactionId }}</p>
    <p class="longAddr transReceiver">
      {{ transaction?.receiver }}
    </p>
  </div>
  <div class="review">
    <h3 class="reviewTitle">{{ review.title }}</h3>
    <div class="starsDate">
      <div class="stars">
        <fa-icon
          *ngFor="let item of [].constructor(review.rating)"
          id="rateIcon"
          [icon]="faStarSolid"
        ></fa-icon>
        <fa-icon
          *ngFor="let item of [].constructor(5 - review.rating)"
          id="rateIcon"
          [icon]="faStar"
        ></fa-icon>
      </div>
      <p class="reviewDate">{{ review.date | date : "yyyy-MM-dd" }}</p>
    </div>
    <p class="reviewText">{{ review.text }}</p>
  </div>
  <div class="reviewer">
    <fa-icon class="reviewerAvatar" [icon]="faUser" [size]="'xl'"></fa-icon>
    <div class="addressDate">
      <p class="reviewerAddress longAddr">{{ transaction?.sender }}</p>
      <p class="transDate"><span>Data transazione:</span> {{ transaction?.date | date : "yyyy-MM-dd" }}</p>
    </div>
  </div>
</div>
