<div class="container">
  <div class="upperSection">
    <div class="merchant">
      <img
        class="merchantLogo"
        src="{{
          '../../../../assets/' +
            review.transaction.receiverName.toLowerCase() +
            '.png'
        }}"
      />
      <div class="merchantDetails">
        <p class="merchantName">{{ review.transaction.receiverName }}</p>
        <p class="merchantAddress">{{ review.transaction.receiver }}</p>
      </div>
    </div>
    <div class="starsDate">
      <div class="stars">
        <fa-icon
          *ngFor="let item of [].constructor(review.rating)"
          id="rateIcon"
          [icon]="faStar"
        ></fa-icon>
      </div>
      <p class="reviewDate">{{ review.date | date : "yyyy-MM-dd" }}</p>
    </div>
  </div>
  <p class="reviewText">{{ review.text }}</p>
  <div class="lowerSection">
    <fa-icon class="reviewerAvatar" [icon]="faUser" [size]="'xl'"></fa-icon>
    <div class="reviewerDetails">
      <p class="reviewerAddress">{{ review.transaction.sender }}</p>
    </div>
  </div>
</div>
