<div class="container">
  <div class="upperSection">
    <div class="merchant">
      <p class="longAddr">{{ review.transactionId }}</p>
      <p class="longAddr merchantDetails merchantAddress">
        {{ transaction?.receiver }}
      </p>
    </div>
    <div class="starsDate">
      <div class="stars">
        <fa-icon
          *ngFor="let item of [].constructor(review.rating)"
          id="rateIcon"
          [icon]="faStarSolid"
        ></fa-icon>
        <fa-icon
          *ngFor="let item of [].constructor(5 - review.rating)"
          id="rateIcon"
          [icon]="faStar"
        ></fa-icon>
      </div>
      <p class="reviewDate">{{ review.date | date : "yyyy-MM-dd" }}</p>
    </div>
  </div>
  <p class="reviewText">{{ review.text }}</p>
  <div class="lowerSection">
    <fa-icon class="reviewerAvatar" [icon]="faUser" [size]="'xl'"></fa-icon>

    <p class="reviewerDetails reviewerAddress">{{ transaction?.sender }}</p>
  </div>
</div>
