h2 {
  padding: 1rem 0;
}

#search {
  display: flex;
  column-gap: 0.5rem;
  margin-bottom: 1rem;

  input,
  select {
    padding: 0.45rem 1rem;
    font-size: 0.9rem;
    border-radius: 25px;
    border: 1px solid hsla(0, 0%, 50%, 0.4);
  }

  input {
    flex-grow: 2;
    flex-shrink: 1;
  }

  select {
    background-color: white;
    flex-grow: 1;
    flex-shrink: 2;
  }

  button {
    margin: unset;
    width: 2.25rem;
    height: 2.25rem;
    flex-grow: 0;
  }
}
